@import "react-alice-carousel/lib/alice-carousel.css";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@1,600&display=swap');

.full_page_wrap {
    background: #41474e;
    color: white;
    display: flex;
    justify-content: space-around;
    height: 100vh;
}

.page_wrapper {
    flex-direction: column;
    justify-content: space-around;
    width: 40%;
}
#form_wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    justify-content: space-around;
}
#text_wrapper {
    padding: 7.5px;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    font-family: 'Noto Sans JP', sans-serif;
    align-items: center;
    background: #41474e;
    color: white;
}
#text_wrapper a{
    color:white;
}
h3 {
    font-weight: bold;
    font-family: 'Source Serif Pro', serif;
}
h2{
    font-family: 'Source Serif Pro', serif;
}
.google_maps {
    width: 45%;
    height: 45%;
    margin: 2.5%;
    color: black;
    position: relative; 
    overflow: hidden
}
#line_break {
    width: 100%;
}